<div class="Navbar" ng-controller="NavbarController" ng-mouseenter="MouseEnter()" ng-mouseleave="MouseLeave()">
    <div class="NavbarTop" ng-show="Show">
        <div class="ContentWrapper FloatContainer">
            <div style="float:left;height:40px;width:200px;text-align:center;margin-top:5px;margin-right:20px;cursor:pointer;" ng-click="Navigate('/')">
               <img src="/images/Misc/Logo.png">
            </div>
            <div class="Section">
                <div class="Title">Services</div>
                <div class="Item" ng-click="Navigate('/Service/WebDevelopment')">Web Development</div>
                <div class="Item" ng-click="Navigate('/Service/Consulting')">Consulting</div>
                <div class="Item" ng-click="Navigate('/Service/CloudMigration')">Cloud Migration</div>
                <div class="Item" ng-click="Navigate('/Service/HostingManagement')">Hosting Management</div>
                <div class="Item" ng-click="Navigate('/Service/MobileDevelopment')">Mobile Development</div>
            </div>
            <div class="Section">
                <div class="Title">Articles</div>
                <div class="Item" ng-click="Navigate('/Article/GettingStarted')">Getting Started</div>
                <div class="Item" ng-click="Navigate('/Article/Outsourcing')">Outsourcing</div>
                <div class="Item" ng-click="Navigate('/Article/Cloud')">Cloud vs Traditional Architecture</div>
                <div class="Item" ng-click="Navigate('/Article/CreditCardSecurity')">Credit Card Security</div>
                <div class="Item" ng-click="Navigate('/Article/ResponsiveDesign')">Responsive Design</div>
            </div>
            <div class="Section">
                <div class="Title">Us</div>
                <div class="Item" ng-click="Navigate('/Us/About')">About Us</div>
                <div class="Item" ng-click="Navigate('/Us/TheDifference')">The [Company] Difference</div>
                <div class="Item" ng-click="Navigate('/Us/WhatToExpect')">What to Expect</div>
                <div class="Item"></div>
                <div class="Item" style="display:none;">New for 2015: Programmer tests</div>
            </div>

        </div>
    </div>
    <div class="NavbarBottom">
        <div class="MarginAuto HorizontalArrow">
            <img src="/images/UI/DownArrow.png">
        </div>
    </div>
</div>