.ContentWrapper {
  width: 1200px;
  margin: auto;
}

.HorizontalArrow {
  width: 50px;
  margin: auto;
}

.Homepage {
  .TitleContainer {
    margin-top: 20px;
    .Title {
      font-size: 30px;
    }
  }
  .TagLine {
    font-size: 18px;
    padding-top: 10px;
    font-style: italic;
  }
  .Hero {
    border: 1px solid rgba(0, 0, 0, .9);
    margin-top: 20px;
    width: 100%;
    height: 440px;
    background: url('/images/Misc/HomepageHero.jpg')
  }
}

.Article {

}
.ArticleListPanel {
  .More {
    border: 1px solid rgba(255, 255, 255, .25);
    float: left;
    padding: 6px;
    cursor:pointer;
  }

  .More:hover{
    background: rgba(255,255,255,.1);
  }
  .Article{
    cursor:pointer;
  }
  .Article:hover{
    background: rgba(255,255,255,.1);
  }
  .hidden{
    display:none;
  }
}
.Contact{

}
