body {
  margin: 0px;
  font-family: 'Slabo 27px', serif;
  background: #F7F7F7;
  color: rgba(255, 255, 255, .9);
  test-shadow: 1px 1px #cccccc;
}
a{
  color:white;
}
.FloatContainer{
  overflow:hidden;
}

.Left{
  float:left;
}
.Right{
  float:right;
}
.Clear {
  clear:both;
}
.Panel {
  background: rgba(0, 0, 0, .75);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
  padding: 20px;
  border:1px solid rgba(0,0,0,.8);
  -webkit-transition: all linear .250s;
  transition: all linear .250s;
}
.Panel.ng-enter,
.Panel.ng-hide {
  opacity: 0;
}
.Article {
  .Title{
    font-size:30px;
  }
  .Content {
    font-size:20px;
  }
  .Articles{
    .More{
      font-size:26px;
      margin-bottom:10px;
    }
    .Article{
      font-size:20px;
      padding:10px 5px;
      border-top:1px solid rgba(255,255,255,.25);
      cursor:pointer;
    }
    .Article:hover{
      background:rgba(255,255,255,.25);
    }
  }
}
.Navbar {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .90);
}

.NavbarTop {
  height: 110px;
  padding:20px;
  width: 100%;
  overflow:hidden;
  -webkit-transition: all linear .25s;
  transition: all linear .25s;
  .Section{
    float:left;
    margin-left:40px;
    padding-left:40px;
    border-left:1px solid rgba(255,255,255,.2);
    min-height: 125px;
    width:225px;
    .Title{
      font-size:20px;
    }
    .Item{
      padding-left:5px;
      font-size:16px;
      height:20px;
      width:100%;
      cursor:pointer;
    }
    .Item:hover{
      text-decoration:underline;
    }
  }
}

.NavbarTop.ng-hide{
  height:0px;
}
.NavbarBottom {
  padding: 6px 0px;
}

.NavbarSpacer {
  height: 50px;
  width: 100%;
}

.MarginAuto {
  margin: auto;
}

.Services{
  margin-top:20px;
  .Title{
    font-size:30px;
    margin: 0px 0px 5px 0px;
  }
  .Seperator{
    width:100%;
    background:rgba(255,255,255,.2);
    height:1px;
    margin: 3px 0px;
  }
  .ServiceListContainer{
    overflow: hidden;
  }
  .ServiceContainer{
    margin-top:10px;
    overflow:hidden;
    .Service {
      float: left;
      margin-right: 19px;
      width:200px;
      padding-right:19px;
      border-right:1px solid rgba(255,255,255,.2);
      min-height:130px;
      .Title {
        font-size: 23px;
      }
      .Summary {
        font-size: 16px;
        text-align:left;
        margin-left:5px;
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 999px) {
  @import "mobile";
}

@media (min-width: 1000px) {
  @import "desktop";
}
