<div>
    <div class="Panel" style="font-size:30px;margin-top:20px;">
        Articles
    </div>
    <div class="Panel" style="margin-top:20px;">
        <div ng-repeat="Article in Articles" ng-click="Navigate('/Article/' + Article.Slug)"
             style="margin-top:10px;font-size:20px;cursor:pointer;">
            {{Article.Title}}
        </div>
    </div>
</div>