<div class="Panel Articles ArticleListPanel" style="float:right;width:290px;"
     ng-controller="ArticleListPanelController">
    <div class="FloatContainer" style="z-index:1;">
        <div class="More" ng-style="GetMoreStyle('Articles')" ng-click="MoreClick('Articles')">Articles</div>
        <div class="More" ng-style="GetMoreStyle('Services')" ng-click="MoreClick('Services')">Services</div>
        <div class="More" ng-style="GetMoreStyle('Us')" ng-click="MoreClick('Us')" style="padding:6px 32px;">Us</div>
    </div>
    <div class="ArticleSlide" ng-class="GetClass('Articles')">
        <div class="Article" ng-repeat="Article in Articles | filter: {Type:'Article'}"
             ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            {{Article.Title}}
        </div>
    </div>
    <div class="ArticleSlide" ng-class="GetClass('Services')">
        <div class="Article" ng-repeat="Article in Articles | filter: {Type:'Service'}"
             ng-click="Navigate('/Service/' + Article.Slug)"  ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            {{Article.Title}}
        </div>
    </div>
    <div class="ArticleSlide" ng-class="GetClass('Us')">
        <div class="Article" ng-repeat="Article in Articles | filter: {Type:'Us'}"
             ng-click="Navigate('/Us/' + Article.Slug)"  ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            {{Article.Title}}
        </div>
    </div>
    <div style="text-decoration: underline;font-size:26px;padding-top:10px;border-top:1px solid rgba(255,255,255,.1)">
        Contact
    </div>
    <div class="Contact" style="font-size:20px;">
        Phone: (631) 384-0328<br/>
        Email: CustomerService@Site.Com<br/>
        Address: 123 Street<br><span style="margin-left:72px;">City, NY 12345</span>
    </div>
</div>
