<div class="Article" style="margin-top:20px;">
    <div class="Panel Title">{{Article.Title}}</div>
    <div class="FloatContainer" style="margin-top:20px;">
        <div class="Panel Content" ng-bind-html="Article.TrustasHTML" style="float:left;width:800px;"></div>
        <div ng-include="'/html/Articles/ArticleListPanel.html'"></div>
    </div>
</div>