
<div class="Homepage">
    <div class="TitleContainer Panel FloatContainer">
        <div class="Title Left">Lorem ipsum</div>
        <div class="TagLine Right">Sed suscipit sem lectus, at iaculis felis aliquam tincidunt.</div>
    </div>
    <div class="Hero">

    </div>
    <div class="Panel Services">
        <div class="Title">
            Services
        </div>
        <div class="Seperator"></div>
        <div class="ServiceContainer">
            <div class="Service">
                <div class="Title">
                    Web Development
                </div>
                <div class="Summary">

                    Want a site with the latest and greatest web technologies, unprecedented performance and security?  We've got you've covered.
                </div>
            </div>
            <div class="Service">
                <div class="Title">
                    Consulting
                </div>
                <div class="Summary">
                    Whether you need our help to get your team up to speed on the latest technologies or want to get a second opinion, We're there for you.
                </div>
            </div>
            <div class="Service">
                <div class="Title">
                    Cloud Migration
                </div>
                <div class="Summary">
                    Interested in moving your site to the cloud for the latest in data redundancy, scalability, and security?  We're there for you.
                </div>
            </div>
            <div class="Service">
                <div class="Title">
                    Hosting Management
                </div>
                <div class="Summary">
                    Tired of your old hosting provider charging you an arm and a leg?  We'll cut your hosting costs in half.  No pun intended.
                </div>
            </div>
            <div class="Service" style="border-right:none;margin-right:0px;padding-right:0px;">
                <div class="Title">
                    Mobile Development
                </div>
                <div class="Summary">
                    Want a App for Android, iPhone, and Win Phone without separate
                    development costs for each?  We've got you covered.
                </div>
            </div>
        </div>
    </div>
</div>