<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="http://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css">
    <script src="/javascripts/ThirdParty/jQuery.js"></script><style type="text/css"></style>
    <script src="/javascripts/jQueryExtensions/FadingBackground.js"></script>

    <script type="text/javascript" src="chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js"></script></head>
<body><div class="FadingBackgroundDiv InactiveBackgroundDiv" style="position: fixed; z-index: -2; width: 1903px; height: 561px; opacity: 0; background: url(http://localhost/images/Backgrounds/Babbage.jpg) 50% 50% / cover no-repeat;"></div><div class="FadingBackgroundDiv ActiveBackgroundDiv" style="position: fixed; opacity: 1; z-index: -1; width: 1903px; height: 561px; background: url(http://localhost/images/Backgrounds/Mainframe.jpg) 50% 50% / cover no-repeat;"></div>
<!-- ngInclude: '/html/Layout/NavBar.html' --><div ng-include="'/html/Layout/NavBar.html'" style="z-index: 10;" class="ng-scope"><div class="Navbar ng-scope" ng-controller="NavbarController" ng-mouseenter="MouseEnter()" ng-mouseleave="MouseLeave()">
    <div class="NavbarTop ng-animate ng-hide" ng-show="Show" style="">
        <div class="ContentWrapper FloatContainer">
            <div style="float:left; border:1px solid #cccccc;font-size:30px;padding:35px 20px;height:40px;width:200px;text-align:center;margin-top:5px;cursor:pointer;" ng-click="Navigate('/')">
                Logo
            </div>
            <div class="Section">
                <div class="Title">Services</div>
                <div class="Item" ng-click="Navigate('/Service/WebDevelopment')">Web Development</div>
                <div class="Item" ng-click="Navigate('/Service/Consulting')">Consulting</div>
                <div class="Item" ng-click="Navigate('/Service/CloudMigration')">Cloud Migration</div>
                <div class="Item" ng-click="Navigate('/Service/HostingManagement')">Hosting Management</div>
                <div class="Item" ng-click="Navigate('/Service/MobileDevelopment')">Mobile Development</div>
            </div>
            <div class="Section">
                <div class="Title">Articles</div>
                <div class="Item" ng-click="Navigate('/Article/Cloud')">Cloud vs Traditional Architecture</div>
                <div class="Item" ng-click="Navigate('/Article/Agile')">Agile</div>
                <div class="Item" ng-click="Navigate('/Article/Outsourcing')">Outsourcing</div>
                <div class="Item" ng-click="Navigate('/Article/CreditCardSecurity')">Credit Card Security</div>
                <div class="Item" ng-click="Navigate('/Article/UnitTest')">Unit Testing</div>
            </div>
            <div class="Section">
                <div class="Title">Us</div>
                <div class="Item" ng-click="Navigate('/Us/About')">About Us</div>
                <div class="Item" ng-click="Navigate('/Us/TheDifference')">The [Company] Difference</div>
                <div class="Item" ng-click="Navigate('/Us/WhatToExpect')">What to Expect</div>
                <div class="Item"></div>
                <div class="Item" style="display:none;">New for 2015: Programmer tests</div>
            </div>

        </div>
    </div>
    <div class="NavbarBottom">
        <div class="MarginAuto HorizontalArrow">
            <img src="/images/UI/DownArrow.png">
        </div>
    </div>
</div></div>
<div class="NavbarSpacer" style="z-index: 10;">
</div>
<!-- ngView:  --><div ng-view="" class="ContentWrapper View ng-scope" style="z-index: 10; opacity: 1;"><div class="Article ng-scope" style="margin-top:20px;">
    <div class="Panel Title ng-binding FloatContainer">
        Cloud vs Traditional Architecture
    </div>
    <div class="FloatContainer" style="margin-top:20px;">
        <div class="Panel Content ng-binding" ng-bind-html="Article.TrustasHTML" style="float:left;width:800px;">
        <!-- Article Content -->

            Outsourcing seems like a great deal.  Developers working for $20 dollars an hour getting your site up and running in a few weeks.
            <br/><br/>
            <img src="/images/Articles/Outsourcing/Outsource.png" align="right">
            But unfortunately, from experience, it rarely works out that way.  We’ve had numerous clients share their experiences of outsourcing with us.
            Typically a development house working abroad quotes them $20 - $30 an hour with an amazing deadline.
            <br/><br/>
            In most cases that deadline will come and go, there will be delays, misunderstandings, and if you’re lucky a year or two later after
            they’ve juggled numerous other projects in addition to your own you’ll have a minimal viable product ready to go into production.
            But the user interface will be finicky and not aligned with best practices, the admin interface sparse and almost non existent,
            and the bare minimum of what you expected your website to be.  At worst you’ll have spent thousands of dollars with no legal recourse to recoup your losses.
            <br/><br/>
            This isn’t the result of every outsourcing project of course but unfortunately is the result of a larger percentage of them.
            So unless you research them really well, had them recommended to you, or had a expert advisor to review the company you are considering
            outsourcing with we strongly advise against international outsourcing.
            <br/><br/>
            It’s generally a better idea to pay what may seem like 4-5 times the hourly rate of an outsourcing shop and have your site
            developed by a reputable domestic company and delivered on time then pay the same amount and wait a year or two for a product
            to be produced that barely meets your specifications.





            <!-- /Article Content -->

        </div>
        <!-- ngInclude: '/html/Articles/ArticleListPanel.html' --><div ng-include="'/html/Articles/ArticleListPanel.html'" class="ng-scope"><div class="Panel Articles ArticleListPanel ng-scope" style="float:right;width:290px;" ng-controller="ArticleListPanelController">
        <div class="FloatContainer" style="z-index:1;">
            <div class="More" ng-style="GetMoreStyle('Articles')" ng-click="MoreClick('Articles')" style="border-bottom-style: none;">Articles</div>
            <div class="More" ng-style="GetMoreStyle('Services')" ng-click="MoreClick('Services')">Services</div>
            <div class="More" ng-style="GetMoreStyle('Us')" ng-click="MoreClick('Us')" style="padding:6px 32px;">Us</div>
        </div>
        <div class="ArticleSlide" ng-class="GetClass('Articles')">
            <!-- ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Agile is the new waterfall, but better.
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Cloud vs Traditional Architecture
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Databases
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Dear Designers
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Responsive Design
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Beware of Signal R
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Twitter Bootstrap
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Unit Testing and Test Driven Development
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Credit Card Security
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            The Modern Perils of Outsourcing
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} -->
        </div>
        <div class="ArticleSlide hideAnimation" ng-class="GetClass('Services')">
            <!-- ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Web Development
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Consulting
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Cloud Migration
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Hosting Management
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Mobile Development
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Site Optimization
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Candidate Screening
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} -->
        </div>
        <div class="ArticleSlide hideAnimation" ng-class="GetClass('Us')">
            <!-- ngRepeat: Article in Articles | filter: {Type:'Us'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Us'}" ng-click="Navigate('/Us/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            About Us
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Us'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Us'}" ng-click="Navigate('/Us/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            The [Company] Difference
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Us'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Us'}" ng-click="Navigate('/Us/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            What to Expect
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Us'} -->
        </div>
        <div style="text-decoration: underline;font-size:26px;padding-top:10px;border-top:1px solid rgba(255,255,255,.1)">
            Contact
        </div>
        <div class="Contact" style="font-size:20px;">
            Phone: (631) 384-0328<br>
            Email: CustomerService@Site.Com<br>
            Address: 123 Street<br><span style="margin-left:72px;">City, NY 12345</span>
        </div>
    </div>
    </div>
    </div>
</div></div>

</body></html>