<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="http://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css">
    <script src="/javascripts/ThirdParty/jQuery.js"></script><style type="text/css"></style>
    <script src="/javascripts/jQueryExtensions/FadingBackground.js"></script>

    <script type="text/javascript" src="chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js"></script></head>
<body><div class="FadingBackgroundDiv InactiveBackgroundDiv" style="position: fixed; z-index: -2; width: 1903px; height: 561px; opacity: 0; background: url(http://localhost/images/Backgrounds/Babbage.jpg) 50% 50% / cover no-repeat;"></div><div class="FadingBackgroundDiv ActiveBackgroundDiv" style="position: fixed; opacity: 1; z-index: -1; width: 1903px; height: 561px; background: url(http://localhost/images/Backgrounds/Mainframe.jpg) 50% 50% / cover no-repeat;"></div>
<!-- ngInclude: '/html/Layout/NavBar.html' --><div ng-include="'/html/Layout/NavBar.html'" style="z-index: 10;" class="ng-scope"><div class="Navbar ng-scope" ng-controller="NavbarController" ng-mouseenter="MouseEnter()" ng-mouseleave="MouseLeave()">
    <div class="NavbarTop ng-animate ng-hide" ng-show="Show" style="">
        <div class="ContentWrapper FloatContainer">
            <div style="float:left; border:1px solid #cccccc;font-size:30px;padding:35px 20px;height:40px;width:200px;text-align:center;margin-top:5px;cursor:pointer;" ng-click="Navigate('/')">
                Logo
            </div>
            <div class="Section">
                <div class="Title">Services</div>
                <div class="Item" ng-click="Navigate('/Service/WebDevelopment')">Web Development</div>
                <div class="Item" ng-click="Navigate('/Service/Consulting')">Consulting</div>
                <div class="Item" ng-click="Navigate('/Service/CloudMigration')">Cloud Migration</div>
                <div class="Item" ng-click="Navigate('/Service/HostingManagement')">Hosting Management</div>
                <div class="Item" ng-click="Navigate('/Service/MobileDevelopment')">Mobile Development</div>
            </div>
            <div class="Section">
                <div class="Title">Articles</div>
                <div class="Item" ng-click="Navigate('/Article/Cloud')">Cloud vs Traditional Architecture</div>
                <div class="Item" ng-click="Navigate('/Article/Agile')">Agile</div>
                <div class="Item" ng-click="Navigate('/Article/Outsourcing')">Outsourcing</div>
                <div class="Item" ng-click="Navigate('/Article/CreditCardSecurity')">Credit Card Security</div>
                <div class="Item" ng-click="Navigate('/Article/UnitTest')">Unit Testing</div>
            </div>
            <div class="Section">
                <div class="Title">Us</div>
                <div class="Item" ng-click="Navigate('/Us/About')">About Us</div>
                <div class="Item" ng-click="Navigate('/Us/TheDifference')">The [Company] Difference</div>
                <div class="Item" ng-click="Navigate('/Us/WhatToExpect')">What to Expect</div>
                <div class="Item"></div>
                <div class="Item" style="display:none;">New for 2015: Programmer tests</div>
            </div>

        </div>
    </div>
    <div class="NavbarBottom">
        <div class="MarginAuto HorizontalArrow">
            <img src="/images/UI/DownArrow.png">
        </div>
    </div>
</div></div>
<div class="NavbarSpacer" style="z-index: 10;">
</div>
<!-- ngView:  --><div ng-view="" class="ContentWrapper View ng-scope" style="z-index: 10; opacity: 1;"><div class="Article ng-scope" style="margin-top:20px;">
    <div class="Panel Title ng-binding FloatContainer">
        Cloud vs Traditional Architecture
    </div>
    <div class="FloatContainer" style="margin-top:20px;">
        <div class="Panel Content ng-binding" ng-bind-html="Article.TrustasHTML" style="float:left;width:800px;">
        <!-- Article Content -->
            Securing credit card and personal information is no laughing matter even though plenty of developers who have worked on legacy code will joke about the money they would’ve made if they charged each insecurely stored credit card number they found a dollar.
<br/><br/>
            The sad truth is you’re company is liable for stored credit card information and what is done with it.  Don’t take my word for it but instead the <a href=”https://www.pcisecuritystandards.org/security_standards/”>PCI Compliance Standard’s</a> word for it.
            <br/><br/>
            This may seem scary…  and yeah it is.  But here is a simple and foolproof way to make sure you aren’t held liable for your customers credit card information should your server ever be hacked.
            <br/><br/>
            <img src="/images/Articles/CreditCardSecurity/CreditCardSecurity.png" align="left">
            Almost every major credit card gateway, companies which process credit card transactions on the internet, offers a service where you may save a customers credit card information on <i>their</i> servers.
            <br/><br/>
            What you do is provide them with a customer’s credit card information and they send you back a unique ID for that information which may only be used for payments to your merchant account.
            <br/><br/>
            Which means you’re only responsible for storing that ID in your server, and not your customer’s credit card information, which can only be used to send a payment to your merchant account.  Which is completely useless for any hacker who may hack your server.
            <br/><br/>
            And guess what… What?...  Well since their credit card information isn’t stored on your server anymore you aren’t liable if the credit card gateway’s servers’ get hacked.
            <br/><br/>
            Be sure to send your developer this link if you have any concerns over their storage of credit card numbers.  It’s better to be safe then sorry.


            <!-- /Article Content -->

        </div>
        <!-- ngInclude: '/html/Articles/ArticleListPanel.html' --><div ng-include="'/html/Articles/ArticleListPanel.html'" class="ng-scope"><div class="Panel Articles ArticleListPanel ng-scope" style="float:right;width:290px;" ng-controller="ArticleListPanelController">
        <div class="FloatContainer" style="z-index:1;">
            <div class="More" ng-style="GetMoreStyle('Articles')" ng-click="MoreClick('Articles')" style="border-bottom-style: none;">Articles</div>
            <div class="More" ng-style="GetMoreStyle('Services')" ng-click="MoreClick('Services')">Services</div>
            <div class="More" ng-style="GetMoreStyle('Us')" ng-click="MoreClick('Us')" style="padding:6px 32px;">Us</div>
        </div>
        <div class="ArticleSlide" ng-class="GetClass('Articles')">
            <!-- ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Agile is the new waterfall, but better.
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Cloud vs Traditional Architecture
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Databases
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Dear Designers
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Responsive Design
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Beware of Signal R
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Twitter Bootstrap
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Unit Testing and Test Driven Development
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            Credit Card Security
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} --><div class="Article ng-binding ng-scope" ng-repeat="Article in Articles | filter: {Type:'Article'}" ng-click="Navigate('/Article/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}">
            The Modern Perils of Outsourcing
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Article'} -->
        </div>
        <div class="ArticleSlide hideAnimation" ng-class="GetClass('Services')">
            <!-- ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Web Development
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Consulting
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Cloud Migration
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Hosting Management
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Mobile Development
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Site Optimization
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Service'}" ng-click="Navigate('/Service/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            Candidate Screening
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Service'} -->
        </div>
        <div class="ArticleSlide hideAnimation" ng-class="GetClass('Us')">
            <!-- ngRepeat: Article in Articles | filter: {Type:'Us'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Us'}" ng-click="Navigate('/Us/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            About Us
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Us'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Us'}" ng-click="Navigate('/Us/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            The [Company] Difference
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Us'} --><div class="Article ng-binding ng-scope hidden" ng-repeat="Article in Articles | filter: {Type:'Us'}" ng-click="Navigate('/Us/' + Article.Slug)" ng-style="Article.Slug == $parent.Article.Slug?{background:'rgba(255,255,255,.1)}'}:{}" style="">
            What to Expect
        </div><!-- end ngRepeat: Article in Articles | filter: {Type:'Us'} -->
        </div>
        <div style="text-decoration: underline;font-size:26px;padding-top:10px;border-top:1px solid rgba(255,255,255,.1)">
            Contact
        </div>
        <div class="Contact" style="font-size:20px;">
            Phone: (631) 384-0328<br>
            Email: CustomerService@Site.Com<br>
            Address: 123 Street<br><span style="margin-left:72px;">City, NY 12345</span>
        </div>
    </div>
    </div>
    </div>
</div></div>

</body></html>